body {
  font-family: "Poppins", sans-serif;
}

.page-content {
  margin-top: 108px;
}

footer {
  border-top: 1px solid #e4e4e4;
  // position: absolute;
  // bottom: 0;
  // margin-left: 0;
  // width: 100%;

  p {
    color: #979797;
  }
}

.form-control {
  background-color: #f3f3f3;
}
